<div class="main">
  <mat-progress-bar mode="indeterminate" color="warn" *ngIf="activeProgress"></mat-progress-bar>
  <mat-toolbar color="primary" class="title">
    <mat-form-field>
      <input matInput type="text" name="search" [(ngModel)]="searchQuery" placeholder="Search" dividerColor="warn" (keyup.enter)="getPokemon(searchQuery)"/>
    </mat-form-field>
  </mat-toolbar>
  <ngb-alert [type]="success" *ngIf="error" (close)="closeAlert()">{{ error }}</ngb-alert>
  <div class="pokemon-list">
    <app-pokemon-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon" (click)="showPokemonInfo(pokemon)"></app-pokemon-item>
  </div>
  <div class="load-more">
    <button (click)="loadMore()" md-raised-button *ngIf="pokemons.length">Load More</button>
  </div>
</div>
